.review{
    display:flex ;
    width: 60%;
    margin: 50px auto;


}
.review_content{
    margin: 0 0 10px 0;
}
.review_thumbnail {
    width: 50%;
    height: 300px;
    background-color: #f0f0f0; /* 背景色をつけておくと余白が目立たなくなる */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
.review_thumbnail img {
width: 100%;
height: 100%;
object-fit: contain;
display: block;
}

.review_content_item{
display: flex;
flex-direction: column;
justify-content: space-between;
margin-left: 10px;
width: 50%;
height: 300px; /* .review_thumbnailと高さを合わせる */
padding: 10px 0;
}
.review_content{
margin: 0;


}
.review_content_about{
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.review_portfolio a{
list-style: none;
text-decoration: none;
border:0px solid black;
border-radius: 10px;
background-color: #005740;
color: white;
padding: 5px 30px;
font-size: 18px;

}

@media (max-width: 768px) {
    .review{
        display: block;
        width: 100%;
    }
    .review_thumbnail{
        width: 90%;
        margin: 0 auto;
    }
    .review_content_item{
        margin: 0 auto;
        width: 90%;
    }
}